<div class="body-container">
<h1>Buddy Bundle Craft,<br>des services à prix d’ami !</h1>
  <div class="cards">
      <% @services.each do |service| %>
        <%= link_to service_path(service) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/dMjQ8R8/bricolage.jpg)">
          <div class="d-flex flex-column">
            <div><%= service.name %></div>
            <div><%= service.service_type %></div>
            <div><%= service.address %></div>
            <div><%= service.price_per_hour.to_i %> €</div>
          </div>
    </div>
        <% end %>
      <% end %>
  </div>
</div>
