<div class="body-container">
 <% if @service.photo.attached? %>
      <%= cl_image_tag(@service.photo.key, alt: (@service.name + "-picture"), id: "service-picture", class: "builder-photo", cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) %>
    <% else %>
      <%= cl_image_tag('bpcnwcjphzkf25eryqj9', class: "builder-photo", cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) %>
    <% end %>
  <div><%= @service.name %></div>
  <div><%= @service.service_type %></div>
  <div><%= @service.address %></div>
  <div><%= @service.price_per_hour.to_i %> €</div>
</div>
